@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE STYLES */
@layer base {
  body {
    font-size: 1rem;
  }
  h1 {
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  p {
  }
  .p_small {
  }
  a {
  }
  button {
  }
  .bg-style {
    @apply bg-cover bg-no-repeat bg-center;
  }
  .sb {
    @apply border border-red-500;
  }

  .container {
    width: 100%;
  }
  
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  .form-radio{
    background-color: brown;
  }

} 

/* CUSTOM COMPONENT STYLES */
@layer components {
}

/* CUSTOM UTILITIES STYLES */
@layer utilities {
}

.btn-active{
  animation: animate 5s linear infinite;
}

@keyframes animate{
  40%{
    background-color: rgb(15, 14, 14);
  }
}

.gallery-hover{
  @apply absolute top-14 right-0 z-10 hidden group-hover:block  
  group-hover:text-white ;
}



